/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
  show-icons:                 true;
  icon-theme: "Mkos-Big-Sur-Night";
	drun-display-format:        "{name}";
}

@theme "~/.config/rofi/gruvbox.rasi"
