/* ================================ */
/*            Common CSS            */
/* ================================ */

@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
  font-weight: 400;
}

/* the whole window */
window#waybar {
  background: @base;
  color: @text;
  margin: 0;
  border-radius: 15px;
}

 
#hardware, #clock {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px;
  padding: 0 10px 0 10px;
}

#actions{
  margin-left: -5px;
}

#custom-notification:hover, #custom-rofi:hover, #custom-wifi:hover, #custom-lock:hover, #custom-power:hover{
  background-color: @mauve;
  color: @base;
}       

#custom-rofi{
  border-radius: 0 15px 15px 0;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  border-radius: 1rem 0 0 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @base;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @mauve;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  color: @lavender;
  background: @surface0;
  border-radius: 0 1rem 1rem 0;
  padding: 0 10px 0 10px;
  margin-left: -1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}


#custom-lock,
#custom-power,
#custom-backlight,
#custom-notification,
#custom-wifi,
#custom-rofi,
#battery,
#pulseaudio,
#disk,
#cpu,
#memory,
#backlight{
  min-width:80px;
  /*border: 1px solid red;*/
}

#custom-rofi{
  margin-right: 0;
}
/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  /* padding: 0 6px; */
  /*background: @surface0;*/
}

/* ================================ */
/*            disk                 */
/* ================================ */

tooltip{
    border-radius: 5px;
    background-color: @crust;
}

#disk {
  color: @red;
}

#cpu {
  color: @peach;
}

#memory {
  color: @mauve;
}

#backlight{
  color: @yellow;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#custom-backlight {
  color: @yellow;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  color: @blue;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: @green;
}

#battery.critical {
  color: @red;
}

#battery.warning {
  color: @peach;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  background-color: @surface0;
}


#custom-notification {
}


/* ================================ */
/*             wifi                 */
/* ================================ */

#custom-wifi {
}
