[Desktop Entry]
Name=Ultimate Hacking Keyboard
GenericName=UHK-agent
Comment=UHK Agent
Exec=UHK.Agent-5.0.2-linux-x86_64.AppImage
Icon=UHK
Terminal=false
Type=Application
Categories=Utility;
